/* ------------------------------------------- */
/* Redmamba CSS style definitions.             */
/* ------------------------------------------- */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	border: none;
	font-family: Helvetica;
	font-size: 14px;
}

hr {
	height: 1px;
	background: #B6B6B6;
	border-width: 0px;
}

tr td {
	vertical-align: top;
}

a {
	color: inherit;
}

p {
	margin-bottom: 40px;
}

.hidden {
	display: none;
}

/* ------------------------------------------- */

.group {
	clear: both;
	display: block;
}

.group_header {
	display: block;
	font-size: 1.6em;
	font-family: Helvetica;
	font-weight: bolder;
	line-height: 0em;
	margin-bottom: 40px;
	border-bottom: dotted 2px #8F8F8F;
}

.group_header h1, h2, a {
	color: #7F7F7F;
}

.group_body {
	display: block;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 20px;
}

/* ------------------------------------------- */

.section {
	clear: both;
	display: block;
	width: 90%;
	margin-bottom: 30px;
}

.section_header {
	display: block;
	font-size: 1.25em;
	font-family: Helvetica;
	font-weight: bold;
	line-height: 0em;border-bottom: dotted 2px #8F8F8F; /*#0547B0; steelblue; #135081;*/
	padding-left: 10px;
}

.section_header h1, h2, h3 {
	color: #505050;
	line-height: 0em;
}

.section_body {
	display: block;
	color: #505050;
	font-size: 1em;
	font-family: 'Bookman Old Style', serif;
	padding-left: 30px;
}

.section_body h1, h2, h3, h4 {
	font-family: Helvetica;
}

/* ------------------------------------------- */

.page-outer-table {
	width: 100%;
	height: 100%;
	vertical-align: top;
	border-spacing: 0;
	table-layout: fixed;
}

.page-header-left {
	width: 130px;
	color: LightBlue;
	background: #404040;
	background: -webkit-gradient(linear, left top, right top, from(#404040), to(DarkGray));
	background: -moz-linear-gradient(left, #404040, DarkGray);
	border-bottom: Solid 1px steelblue;/*Gray;*/
}

.page-header-right {
	color: White;
	background: #DDDDDD;
	background: -webkit-gradient(radial, 80% 40%, 0, 80% 40%, 200, from(#DDDDDD), to(DarkGray));
	background: -moz-linear-gradient(right,  #DDDDDD, DarkGray);
	filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='DarkGray');
	text-shadow: DimGray 3px 3px 5px;
	border-bottom: Solid 1px steelblue;/*Gray;*/
}

/* ------------------------------------------- */

.sidebar-cell {
	width: 135px;
	height: 100%;
	border-right: Solid 1px steelblue;
	background: #E6E6E6;
}

.sidebar {
	color: #333333;
	width: 100px;
	float: left;
	display: inline-block;
	font-size: 0.9em;
	margin: 12px;
}

/* ------------------------------------------- */

.content {
	display: inline-block;
	height: 100%;
	margin-top: 5%;
	margin-left: 8%;
}

img {
	float: left;
	padding: 10px 10px 10px 10px;
}


/* ------------------------------------------- */

.shadowbox-top-right {
	float:left;
	margin: 0;
	padding: 0 !important;
	background: url("boxshadow_tr.png") no-repeat right top;
}

.shadowbox-top-left {
	margin:0;
	padding: 0 !important;
	background: url("boxshadow_tl.png") no-repeat left top;
}

.shadowbox-bottom-right {
	margin: 0;
	padding: 0 !important;
	background: url("boxshadow_br.png") no-repeat right bottom;
}

.shadowbox-bottom-left {
	margin: 0;
	padding: 0 !important;
	background: url("boxshadow_bl.png") no-repeat left bottom;
}


.shadowbox-content {
	margin:0;
	padding:1.5em 3em 3em 2.5em;
}

/* ------------------------------------------- */

.article_wrapper {
	text-align: left;
	padding: 15px;
}

.article_title, .article_title a {
	color: SteelBlue;
	font-family: Helvetica;
	font-size: 1.03em;
	font-weight: Bold;
	text-decoration: underline;
	margin-bottom: 5px;
}

.article_authors, .article_authors a {
	color: #207020;
	background: none;
	font-size: 0.9em;
	font-family: Helvetica;
	margin-left: 5px;
	margin-bottom: 5px;
}

.article_journal, .article_journal a {
	color: #207020;
	background: none;
	font-size: 0.9em;
	font-family: Helvetica;
} 

.article_abstract {
	cursor: pointer;
	color: #505050;
	font-family: Times New Roman;
	font-size: 1em;
	margin-top: 6px;
	margin-left: 20px;
}

/* ------------------------------------------- */

.data {
	text-align: left;
	font-size: 0.9em;
	font-family: Helvetica;
	border-bottom: solid 2px black;
	margin-bottom: 50px;
}

.data td {
	width: auto;
	vertical-align: middle;
}

.data thead {
	color: white;
	background: #A4A4A4;
}

.data th {
	text-align: left;
	width: auto;
	border-bottom: solid 2px black;
}

.data tr.even{
	background-color: #EEEEDD; /*#EAEAEA;*/
}

.data tr.odd{
	background-color: #FFFFFF;
}

.data .stars {
	color: #3F3F3F;
}