/* ------------------------------------------- */
/* Redmamba CSS style definitions.             */
/* ------------------------------------------- */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	border: none;
	font-family: Helvetica;
	font-size: 14px;
}

hr {
	height: 1px;
	background: #B6B6B6;
	border-width: 0px;
}

tr td {
	vertical-align: top;
}

/* ------------------------------------------- */

.group {
	clear: both;
	display: block;
}

.group_header {
	display: block;
	color: #8F8F8F;
	font-size: 1.6em;
	font-family: Helvetica;
	font-weight: bolder;
	line-height: 1.6em;
	border-bottom: solid 2px #8F8F8F;
}

.group_body {
	display: block;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 20px;
}

/* ------------------------------------------- */

.section {
	clear: both;
	display: block;
	width: 510px;
	margin-bottom: 30px;
}

.section_header {
	display: block;
	color: steelblue;/*#135081;*/
	font-size: 1.25em;
	font-family: Helvetica;
	font-weight: bold;
	line-height: 2em;
	border-bottom: solid 2px steelblue;/*#135081;*/
	padding-left: 10px;
}

.section_body {
	display: block;
	font-size: 1em;
	font-family: 'Bookman Old Style', serif;
	padding: 10px;
}

/* ------------------------------------------- */

.page-outer-table {
	width: 100%;
	height: 100%;
	vertical-align: top;
	border-spacing: 0;
	table-layout: fixed;
}

.page-header-left {
	width: 130px;
	color: LightBlue;
	background: #404040;
	background: -webkit-gradient(linear, left top, right top, from(#404040), to(DarkGray));
	background: -moz-linear-gradient(left, #404040, DarkGray);
	border-bottom: Solid 1px Gray;
}

.page-header-right {
	color: White;
	background: #DDDDDD;
	background: -webkit-gradient(radial, 80% 40%, 0, 80% 40%, 200, from(#DDDDDD), to(DarkGray));
	background: -moz-linear-gradient(right,  #DDDDDD, DarkGray);
	filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='DarkGray');
	text-shadow: DimGray 3px 3px 5px;
	border-bottom: Solid 1px Gray;
}

/* ------------------------------------------- */

.sidebar-cell {
	width: 135px;
	height: 100%;
	border-right: Solid 1px Gray;
	background: #E6E6E6;
}

.sidebar {
	color: #333333;
	width: 100px;
	float: left;
	display: inline-block;
	font-size: 0.9em;
	margin: 12px;
}

/* ------------------------------------------- */

.content {
	display: inline-block;
	height: 100%;
	margin-top: 5%;
	margin-left: 8%;
}

img {
	float: left;
	padding: 10px 10px 10px 10px;
}


/* ------------------------------------------- */

.shadowbox-top-right {
	float:left;
	margin: 0;
	padding: 0 !important;
	background: url("boxshadow_tr.png") no-repeat right top;
}

.shadowbox-top-left {
	margin:0;
	padding: 0 !important;
	background: url("boxshadow_tl.png") no-repeat left top;
}

.shadowbox-bottom-right {
	margin: 0;
	padding: 0 !important;
	background: url("boxshadow_br.png") no-repeat right bottom;
}

.shadowbox-bottom-left {
	margin: 0;
	padding: 0 !important;
	background: url("boxshadow_bl.png") no-repeat left bottom;
}


.shadowbox-content {
	margin:0;
	padding:1.5em 3em 3em 2.5em;
}

/*.shadowbox-content p, .shadowbox-content h1 {
	/*margin: 1em 1em 1em;*/
	padding:0;
	/*line-height:1.6;*/
}*/

/* ------------------------------------------- */


/* ------------------------------------------- */

.h_spacer {
	height: 10px;
}

.article_authors a {
	padding-right: 5px;
}

.article_title, .article_title a {
	color: SteelBlue;
	font-size: 1.03em;
	font-weight: Bold;
	text-align: left;
	border-bottom: 5px solid white;
}

.article_authors, .article_authors a {
	color: #888686; 
	border-bottom: 5px solid white;
	font-size: 0.9em;
}

.article_abstract {
	width: inherit;
	color: #505050;
	font-size: 0.96em;
	text-align: left;
	border-top: 3px solid white;
	border-bottom: 0px solid white;
}

.abstract_expand {
    overflow: hidden;
    height : 30px;
}

.article_pmid, .article_journal, .article_pmid a, .article_journal a {
	font-size: 0.9em;
	font-family: verdana;
	color: #888686;
} 

.article_wrapper {
	width: 500px;
	padding: 5px;
	text-align: left;
}

/* ------------------------------------------- */

.data {
	cellpadding: 0;
	cellspacing: 0;
}

.data td {
	text-align: left;
	width: auto;
}

.data tr.odd{
	background-color: #DDDDDD;
}
